
#page-landing{
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  text-align: center;
  min-height: 100vh;

  /* Faz com que as caixas dentro do elemento fiquem lado a lado independente se são BLOCK ou não*/
  display: flex; 

  /* align-items: center; --> Centraliza as caixas dentro do FLEX (em cima e embaixo)*/
}

#container{
  /* Centraliza elementos dentro de #container mas em relação aos 4 lados!
  Principal diferença em relação ao align-items usado dentro de #page-landing
  Só funciona para os 4 lados se estiver dentro de um elemento FLEX */
  margin: auto;

  width: min(90%, 112rem);
}

/* Entrar no elemento visit e pegar todos os elementos P dentro */
.location, h1, .visit p {
  height: 16vh;
}

#logo {
  animation-delay: 50ms;
}

#location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
  font-size: clamp(4rem, 8vw, 8.4rem); /* clamp(min, ideal, máx) */
}

.visit p {
  animation-delay: 200ms;
}

.visit a { /* Botão com flechinha */
  width: 8rem;
  height: 8rem;
  background: #ffd666;

  border: none;
  border-radius: 3rem; /* arredondar borda */

  /* Alinhar icone da flecha com o fundo: */
  display: flex;
  align-items: center; /* alinhamento vertical */
  justify-content: center; /* alinhamento horizontal */

  /* alinhar ao centro da tela do usuário:*/ 
  margin: auto;

  /* Propriedade para que o .visit a:hover transicione menos "seco" */
  transition: background 200ms;
  animation-delay: 250ms;
}

.visit a:hover {
  background: #96feff;
}

/* Desktop version */
@media (min-width: 760px) { /* Caso o tamanho da tela seja 760px == monitor de PC */
/* Precisa do meta name="viewport" no main do HTML */

  #container {
    padding: 5rem 2rem;
    /* shorthand background: image repeat position / size */
    background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vw, 56rem);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .location, h1, .visit p{
    height: initial;
    text-align: initial;
  }

  .location {
    text-align: right;
    font-size: 2.4rem;
    line-height: 1.5;
  }

  main h1 {
    font-weight: bold;
    line-height: .88;

    margin: clamp(10%, 9vh, 12%) 0 4rem;

    width: min(300px, 80%);
  }

  .visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visit p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }

  .visit a {
    margin: initial;
  }
}